<section>
    <div class="container">
        <h2>Reclamos</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>Reclamos</td>
                    <td>Valor</td>
                    <td>Descripcion</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
