<nav>
    <div>
        <!--Logo-->
        <a href="">SmartCertify</a>
        <!--Boton para diseño responsivo-->
        <button>
            <span></span>
        </button>

        <!--Links del navbar-->
        <div>
            <ul>
                <!--Inicio-->
                <li>
                    <a href="">Inicio</a>
                </li>
                <li>
                    <a href="">Examenes de usuario</a>
                </li>
                <li>
                    <a href="">Cursos</a>
                </li>
                <li>
                    <a href="">Videos</a>
                </li>
                <!--Actualizar perfil-->
                <li>
                    <a href="">Actualizar perfil</a>
                </li>
                <!--Ejemplo de dropdown-->
                <li><a href="">Conceptos</a>
                    <ul>
                        <li><a href="">Enlace de datos</a></li>
                    </ul>
                </li>

                <li>
                    <a href="">Ver preguntas</a>
                </li>
                <li>
                    <a href="">Crear preguntas</a>
                </li>
                <!--Acerca de y contactos-->
                <li>
                    <a href="">Acerca de</a>
                </li>
                <li>
                    <a href="">Contactanos</a>
                </li>
            </ul>

            <!--Caja de busqueda-->
            <form action="">
                <input type="search" placeholder="Buscar cursos">
                <button type="submit">Buscar</button>
            </form>

            <!--Iniciar Sesion/Cerrar Sesion-->
            <ul>
                <li>
                    <!--Foto de perfil-->

                    <!--Avatar predeterminado-->

                    <a href="">Iniciar Sesion</a>
                    <a href="">Cerrar Sesion</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
