<br>
<div>
    <h2>Contactanos</h2>
    <p>Conozca mas sobre quienes somos, nuestra mision y que nos motiva</p>
    <!--Seccion de mision-->
    <div>
        <div>

        </div>
        <div>
            <h3>Nuestra mision</h3>
            <p>En <strong>SmartCertify</strong>, nuestra misión es equipar a las personas con las herramientas y el conocimiento para
                sobresalir en el mundo de la tecnología a través de experiencias de aprendizaje accesibles, innovadoras y prácticas. Somos
                comprometidos a fomentar una cultura de crecimiento continuo, empoderando a los estudiantes para obtener certificaciones y
                potenciar sus habilidades profesionales.</p>
        </div>
    </div>

    <!--Seccion de vision-->
    <div>
        <div>

        </div>
        <div>
            <h3>Nuestra vision</h3>
            <p>Nuestra visión es establecer <strong>SmartCertify</strong> como una plataforma global confiable para servicios técnicos.
                aprendizaje y certificaciones. Al adoptar la innovación y la inclusión, nuestro objetivo es inspirar y preparar a los
                próxima generación de profesionales de la tecnología, permitiéndoles prosperar en un panorama digital en rápida evolución.</p>
        </div>
    </div>
    <!--Seccion de historia-->
    <h3>Nuestra historia</h3>
    <p><strong>SmartCertify</strong> comenzó como un proyecto apasionante impulsado por la visión de compartir conocimientos y empoderar a los 
        aspirantes a profesionales de la tecnología. Lo que comenzó como una idea simple se ha convertido en una plataforma confiable que presta 
        servicios a una comunidad global de estudiantes. Nuestro viaje está guiado por la creencia de que <strong>¡Todos pueden codificar!</strong> 
        y seguimos dedicados a brindar educación de alta calidad y oportunidades de certificación a estudiantes de todo el mundo.</p>
</div>
