<div class="container mt-4">
    <!--Interpolacion-->
    <h1>Bienvenido {{appName}}</h1>
    <!--Enlace bidireccional-->
    <div class="mt-3">
        <label for="username">Ingrese su nombre:</label>
        <input id="username" [(ngModel)] ="username" placeholder="Ingrese su nombre" class="form-control">
    </div>
    <!--Representacion condicional con @If-->
    <div class="mt-3">
        @if (username) {
            <p class="text-primary">Hola, {{username}}! Me alegro de tenerte aqui</p>
        } @else {
            <p class="text-muted">Por favor ingrese su nombre para ver un mensaje personalizado</p>
        }
    </div>

    <!--Otro ejemplo de "If con else"-->
    <div class="mt-3">
        <button class="btn btn-primary" (click)="toggleWelcome()">
            Cambiar mensaje de bienvenida
        </button>
        @if (isWelcomeVisible) {
            <p class="text-success mt-2">El mensaje de bienvenida es visible</p>
        }@else {
            <p class="text-danger mt-2">El mensaje de bienvenida esta oculta</p>
        }
    </div>

    <!--*ngIf con ng-template para else-->
    <div class="mt-3">
        <ng-container *ngIf="isWelcomeVisible; else noWelcome">
            <p class="text-success mt-2">Bienvenido a nuestra aplicacion angular</p>
        </ng-container>
        <ng-template #noWelcome>
            <p class="text-danger mt-2">El mensaje de bienvenida esta oculto</p>
        </ng-template>
    </div>
</div>