<div>
    <h2>Contactanos</h2>
    <p>¡Nos encantaría saber de usted! Comuníquese con nosotros mediante el siguiente formulario o mediante cualquiera de 
        nuestros métodos de contacto.</p>
    <div>
        <!--Formulario de contactos-->
        <div>
            <form action="">
                <div>
                    <label for="name">Tu Nombre</label>
                    <input type="text" placeholder="Ingresa tu nombre">
                    <div>
                        <small>El nombre es obligatorio</small>
                    </div>
                </div>
                <div>
                    <label for="email">Tu correo</label>
                    <input type="email" placeholder="Ingresa tu correo electronico">
                    <div>
                        <small>El correo electronico es obligatorio</small>
                        <small>Formato de correo electronico no valido</small>
                    </div>
                </div>
                <div>
                    <label for="subject">Asunto</label>
                    <input type="text" placeholder="Ingrese el asunto">
                    <div>
                        <small>El asunto es obligatorio</small>
                    </div>
                </div>
                <div>
                    <label for="message">Mensaje</label>
                    <textarea id="message" rows="5" placeholder="Ingrese el mensaje"></textarea>
                    <div>
                        <small>El mensaje es obligatorio</small>
                    </div>
                </div>
                <button type="submit">Enviar Mensaje</button>
            </form>
        </div>
        <!--Datos de contacto-->
        <div>
            <div>
                <div>
                    <h4>Direccion</h4>
                    <p>Contacto por correo</p>
                </div>
                <div>
                    <h4>Telefono</h4>
                    <p>+591 77777777</p>
                </div>
                <div>
                    <h4>Email</h4>
                    <p>learnsmartcoding&#64;gmail.com</p>
                </div>
                <div>
                    <h4>Siganos</h4>
                    <a href=""></a>
                    <a href=""></a>
                    <a href=""></a>
                    <a href=""></a>
                    <a href=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
