.contact-us-container{
    margin-top: 40px;
    background: #f8f9fa; /*fondo claro */
    padding: 40px;
    border-radius: 8px;
}
.contact-subtitle{
    font-size: 1.25rem;
    color: #343a40; /*Texto oscuro*/
    margin-bottom: 30px;
}
.contact-form{
    background-color: #ffffff;/*Fondo blanco para el formulario*/
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0,0.1 );
}
.contact-form .form-label{
    font-weight: bold;
    color: #495057; /*color de etiqueta mas oscuro*/
}
.contact-form .form-control{
    border: 1px solid #ced4da;
    border-radius: 4px; 
}

.contact-form .form-control:focus{
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-primary:hover{
    background-color: #0056b3;
    border-color: #0056b3;
}

.contact-details{
    background-color: #ffffff; /*fondo blanco para datos de contacto*/
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    margin-top: 20px;
}
.contact-info {
    margin-bottom: 15px;
}

.contact-info h4 {
    font-weight: bold;
    color: #343a40; /*Color de encabezado oscuro */
}

.social-media {
    margin-top: 15px;
}

.social-icon {
    margin-right: 15px;
    font-size: 26px;
    color: #007bff;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #0056b3;
}